.vr-card{
    border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 45%);
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 95vw;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
}
.vr-note{
  font-size: smaller;
}

.vr-header{
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-items: center;
    margin: 10px 10px;
}

.vr-btn{
  background-color: #7302ea;
  font-weight: bold;
  color: white;
  padding:10px 20px;
  border-radius:10px;
  outline:none;
  margin:10px;
  outline:none;
  border:none;
}
.vr-btn:hover{
  outline:none;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.vr-btn:active{
  background-color: #8726ee;
  outline:none;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}
.vr-input{
  width:50vw;
}
