.App {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f6f6f6;
}
table,tr,td,th{
  padding:10px;
}

.myColCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myRowCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}